//
//  Config.xcconfig
//  Banchango
//
//  Created by 김동현 on 11/5/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PHARMACY_SERVICE_API_KEY = f755f389dc23ec846d0a0d6c5f294536

PHARMACY_SERVICE_URL = dapi.kakao.com/v2/local/search/category.json?category_group_code=PM9

PHARMACY_MANAGER_API_KEY = vYvbOXShpiN13vBxmVUlC0kkxVrD%2B9V3EF7O41ExML40kZenS8KX1KYHEJcXpXhmtUm3WVdxnUWsGmDMjMQRBw%3D%3D

PHARMACY_MANAGER_URL = apis.data.go.kr/B552657/ErmctInsttInfoInqireService/getParmacyListInfoInqire
